.honeypot form {
	width:auto;
	padding:0px;
}

.module .content .honeypot .alpha,
.module .content .honeypot .alpha img {
	width: 200px;
}

.module .content .honeypot .beta {
	width: 514px;
}

.module .content .honeypot .beta > div {
	float:right;
}

.module .content .honeypot .beta > div {
	float:left !important;
}

.honeypot .description {
	width: 400px;
}

.honeypot button {
	float:right;
}

.honeypot li {
	border-top: 1px solid #f1f1f1;
	margin-top: 10px;
	padding-top: 10px;
}

.honeypot .price {
	font-size: 16px;
	font-weight: bold;
}


.honeypot h3 {
	font-weight: bold;
	font-size: 18px;
	width: 400px;
}

.honeypot select {
	margin-top:10px;
	padding: 4px 2px;
	height: 30px;
	line-height:30px;
	display: block;
	box-sizing: border-box;
	font-size: 14px;
}

.honeypot .quantity {
	color: #999;
	font-size: 12px;
	margin-top: 10px;
}
