.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

body {
	font-family:Helvetica, Arial;
	line-height:1.3;
	background-color:white;
	font-size:14px;
	color:#333;
}

p {
	margin-top:10px;
	margin-bottom:10px;
}


.header {
	background-color:white;
	width:100%;
	text-align: center;
	overflow:hidden;
	margin:0;
	padding:0;
}

.header .img-wrapper {
	width:680px;
	position:relative;
	height:655px;
	margin-left:auto;
	margin-right:auto;
}

/*.visited .header .img-wrapper {
	display:none;
}*/

.header .img-wrapper img.tree {
	width:680px;
	height:741px;
}

/*.visited .header .img-wrapper img.tree {
	display:none;
}*/

.header .img-wrapper img.names {
	position:absolute;
	bottom:0px;
	left:72px;
	width:537px;
	height:111px;
}

.navigation-hack {
	width:100%;
	/*Google Maps set z-index, so we need this*/
	z-index:10000000;
	background-color: #fff;
}

.navigation {
	width:100%;
	overflow:hidden;
	background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#444));
	background: #444;
	box-shadow: inset 0px 1px 0px 0px #666;
	border-top:1px solid #111;
	border-bottom:1px solid #111;
}

.navigation .wrapper {
	display: block;
	width: 776px;
	margin-left:auto;
	margin-right:auto;
}

.navigation ul {
	overflow:hidden;
	user-select: none;
/*	box-shadow: 0px 0px 1px 0px #666;*/
}


.navigation li {
/*	box-shadow: inset 1px 0px 0px 0px #666;*/
	float:left;
}

.navigation li:active {

}

.navigation li a {
	padding:5px 0;
	width: 130px;
	display:block;
	border-right:1px solid #111;
	text-align:center;
	cursor:pointer;
	text-shadow: 2px 2px #111;
}

.navigation li a:last-child {
	width: 154px;
}

.navigation li:first-child a {
	border-left:1px solid #111;
}

.navigation li a:active {
	box-shadow: inset 0 0 6px #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#444));
}

.navigation li a:visited,
.navigation li a:hover,
.navigation li a {
	text-shadow: 1px 1px #111;
	color:#fff;
	text-decoration:none;
}

.main-container {
	width: 776px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	padding-bottom:20px;
	min-height:672px;
}

.content-container {
	
}

.module {
	margin-top:10px;
	box-shadow: 0 0 1px 1px #efefef;
	border-radius:5px;
	border: 1px solid #999;
}

.module h1,
.module h2 {
	color: #cb1f1f;
	background-color:white;
	box-shadow: 0 0 1px 1px #ccc;
	display:block;
	border-radius:5px 5px 0px 0px;
	font-weight:bold;
/*	color:#333;*/
/*	background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#f1f1f1));*/
	box-shadow: inset 0px 1px 0px 0px white;
}

.module h1 {
	font-size: 22px;
	padding:10px 10px 0px 10px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}

.module h2 {
	font-size: 18px;
	color:#333;
	border-bottom:1px solid #ddd;
}

.module > .content {
	padding: 0px 20px 10px 20px;
	background-color:#fff;
	overflow:hidden;
	border-radius:0px 0px 5px 5px;
}

.module .content .alpha,
.module .content .beta {
	padding:5px;
}

.module .content .alpha {
	width:478px;
	float:left;
}

.module .content .beta {
	width:235px;
	float:left;
}

form {
  display:block;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  padding:15px;
}


.fine-print {
  color:#999;
  font-weight:normal;
  font-size:12px;
}

form label {
  font-weight: bold;
}

form fieldset label {
  font-weight: normal;
}

form label fieldset .fieldset-header {
  font-weight:bold;
}

form input[type=text] {
  width:250px;
  padding:4px;
  line-height:20px;
  border-radius:3px;
  border:1px solid #999;
  font-size:12px;
  margin-top:5px;
}

.login form input {
  display:block;
}


.rsvp form label {
  display:block;
  margin-top:5px;
}

.rsvp form input[type=text] {
  display:block;
}

.rsvp form fieldset {
  margin:10px 0px;
  font-weight:bold;
}

.rsvp form fieldset label {
  float:left;
  margin-right:15px;
}

.error,
.success {
	padding:7px;
	border-radius:3px;
	margin-top:10px;
}

.success {
	border: 1px solid #408c12;
	background-color: #63d51e;
	background: -webkit-gradient(linear, left top, left bottom, from(#53ad1c), to(#63d51e));
	box-shadow: inset 0px 1px 0px 0px #63d51e;
}

.error {
	color:#fff;
	text-shadow:1px 1px #111;
	background-color: #cb1f1f;
	background: -webkit-gradient(linear, left top, left bottom, from(#c21b1b), to(#cb1f1f));
	border:1px solid #b01818;
	box-shadow: inset 0px 1px 0px 0px #cb1f1f;
}


button,
input[type="submit"], 
a.button {
	padding:5px 12px;
	background-color: #cb1f1f;
	background: -webkit-gradient(linear, left top, left bottom, from(#c21b1b), to(#cb1f1f));
	border:1px solid #b01818;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.3);
}

a.button {
	text-decoration:none;
}

button:hover,
input[type="submit"]:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#c21b1b), to(#cb1f1f));
	
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}
