
.module
  %h1 Lodging
  .content
    %p We will be looking into group rates at a couple hotels in the city. We'll send out an email and update this site once we have those rates arranged.
    
    %h2 The Hotel Mayflower
    .content
      .alpha
        %p A nice, central, and affordable hotel in the city, and the one at which our guests usually stay when visiting San Francisco. Very close to our apartment & downtown. About a 10 minute cab ride to the wedding venue.
        %p 
          %a.button{:href=>"http://www.yelp.com/biz/the-hotel-mayflower-san-francisco"} View on Yelp
      .beta
        %a{:href=>'http://www.yelp.com/biz/parker-guest-house-san-francisco'}
          %img{:src=>"/images/lodging/mayflower.jpg"}
        
    %h2 The Parker House
    .content
      .alpha
        %p Probably the closet hotel to the wedding venue.
        %p 
          %a.button{:href=>"http://www.yelp.com/biz/parker-guest-house-san-francisco"} View on Yelp
      .beta
        %a{:href=>'http://www.yelp.com/biz/parker-guest-house-san-francisco'}
          %img{:src=>"/images/lodging/parker_guest_house.jpg"}
    
