

.module
  %h1 Details
  .content
    %h2
      Wedding Ceremony & Reception
    %p
      5pm
      %br
      Saturday September 21st 2013,5pm
      %br
      Farina Restaurant
      %br
      3560 18th Street
      %br
      San Francisco CA 94110

    %h2
      Post-Wedding Events
    %p
      For those of you looking to spend a little more time in San Francisco, we plan to remain in the city for the week following the wedding. We will likely return to work during this time, but would love to see our families and friends in the evenings, and will be updating this site with suggestions on things to do in the city and surrounding areas.
