.module
  %h1 Register
  .content
    .rsvp
      .info
        Please RSVP below.
  
      =form_tag({:action=>"update_rsvp", :method=>"post"}, {:class=> @active_user.guest ? @active_user.guest.user_code.name.blank? ? "guest" : "attendees" : "individual"}) do
        .user-rsvp
          %label
            Full Name
            %input{:type=>'text', :name=>"user_name", :value=>@active_user.name}
  
          %label
            Email
            %input{:type=>'text', :name=>"user_email", :value=>@active_user.email}
    
          %fieldset
            .fieldset-header 
              Attending
            %label
              %input{:type=>'radio', :name=>'user_status', :value=>User.attending_status[:attending], :checked=>(@active_user.status == User.attending_status[:attending] ? :checked : nil)}
              Yes
            %label
              %input{:type=>'radio', :name=>'user_status', :value=>User.attending_status[:not_attending], :checked=>(@active_user.status == User.attending_status[:not_attending] ? :checked : nil)}
              No
            %label
              %input{:type=>'radio', :name=>'user_status', :value=>User.attending_status[:maybe_attending], :checked=>(@active_user.status == User.attending_status[:maybe_attending] ? :checked : nil)}
              Maybe

        - if @active_user.guest
          .user-rsvp
            - if @active_user.guest.user_code.name.blank?
              .guest-header
                Guest
                %span.fine-print
                  (leave blank if you are not bringing a guest)
            %label
              Full Name
              %input{:type=>'text', :name=>"guest_name", :value=>@active_user.guest.name}

            %label
              Email
              %input{:type=>'text', :name=>"guest_email", :value=>@active_user.guest.email}

            %fieldset
              .fieldset-header 
                Attending
              %label
                %input{:type=>'radio', :name=>'guest_status', :value=>User.attending_status[:attending], :checked=>(@active_user.guest.status == User.attending_status[:attending] ? :checked : nil)}
                Yes
              %label
                %input{:type=>'radio', :name=>'guest_status', :value=>User.attending_status[:not_attending], :checked=>(@active_user.guest.status == User.attending_status[:not_attending] ? :checked : nil)}
                No
              %label
                %input{:type=>'radio', :name=>'guest_status', :value=>User.attending_status[:maybe_attending], :checked=>(@active_user.guest.status == User.attending_status[:maybe_attending] ? :checked : nil)}
                Maybe
              
        = submit_tag("RSVP")