
.module
  %h1 Survival Guide
  .content
    .alpha
      %h2 Points of Interest
      .content
        %ul.legend
          %li.clearfix
            %img{:src=> "/images/map-pin-home.png"} 
              %span Our Home
          %li.clearfix
            %img{:src=> "/images/map-pin-hotel.png"} 
              %span The Hotel Mayflower
          %li.clearfix
            %img{:src=> "/images/map-pin-venue.png"} 
              %span Farina Restaurant
          
      
      %h2 Weather Tips
      .content
        %p
          %i
            “The coldest winter I ever spent was a summer in San Francisco” 
          %br
          \- not Mark Twain
        %p
          Please take note: 
          %b
            The wedding ceremony and reception are outdoors.
          September is typically the nicest time of year in San Francisco, but even at its best you can expect cold evenings. There will be patio heaters at the reception, and during the day (especially in direct sun) it will be hot. The lesson here is to dress in light layers, because you will encounter a wide variety of temperatures all in one day.
        %p
          On the plus side it doesn’t rain in September. It just doesn’t.
        %p
          Average temperatures:
          %br
          High - 70F/21C
          %br
          Low - 56F/13C
        %p
          I advise checking the weather the week before the event in case it happens to be one of those inexplicably hot weeks we get a couple times a year. We’re having one as I write this in November.
      
      %h2 Event Transportation
      .content
        %p CABS are pretty hard to catch in the city, but not impossible, especially at 5pm on a Saturday before the evening rush begins. I advise if you plan to take a cab to the event to allow 10-15 minutes to find a cab.
        %p DRIVING is an option, though parking in San Francisco can be difficult. If you choose to drive, expect to use the valet service at the venue for $15.
        %p SUBWAY is cheap, fast, reliable, and there is a stop about 4 blocks from the venue. If you choose to take the subway (BART) to the venue you’ll want to exit at the 16th street exit, and walk 1 major street west (to Valencia) and 2 major streets south (to 18th), preferably in that order.
        %p UBER is a black car service that is the solution to the cab shortage in San Francisco. For those of you with smartphones and a preference for convenience and comfort, you can download the UBER app on your phone and request a black car pickup at your location. You can expect under 5 minutes wait time, but it will cost about double the price of a cab.
        %p BUSSES are very punctual, but a little slow. There are 2 bus routes that go within a block of the venue, however neither of them go by the areas of the suggested hotels.

    .beta
      %div#map_canvas
      %script{:src=>'javascripts/map.js'}