
.module
  %h1 Survival Guide
  .content
    .alpha
      %h2 Points of Interest
      .content
        %ul.legend
          %li.clearfix
            %img{:src=> "http://maps.google.com/intl/en_us/mapfiles/ms/micons/green.png"} 
              %span Our Home
          %li.clearfix
            %img{:src=> "http://maps.google.com/intl/en_us/mapfiles/ms/micons/blue.png"} 
              %span The Hotel Mayflower
          %li.clearfix
            %img{:src=> "http://maps.google.com/intl/en_us/mapfiles/ms/micons/red.png"} 
              %span Farina Restaurant
          
      
      %h2 Weather Tips
      .content
        %p Herp
      
      %h2 How To Get Around
      .content
        %p Herp
      
      %h2 Transportation
      .content
        %p Derp
      
        
    
    .beta
      %div#map_canvas
      %script{:src=>'javascripts/map.js'}