
.module
  %h1 Survival Guide
  .content
    .alpha
      %h2 Points of Interest
      .content
        %p Herp
      
      %h2 Weather Tips
      .content
        %p Herp
      
      %h2 How To Get Around
      .content
        %p Herp
      
      %h2 Transportation
      .content
        %p Derp
      
        
    
    .beta
      %div#map_canvas
      %script{:src=>'javascripts/map.js'}